
--╔═╗░╔╦═══╦═╗░╔╗░░░        --non stop pop#6490
--║║╚╗║║╔═╗║║╚╗║║░░░        --non stop pop#6490
--║╔╗╚╝║║░║║╔╗╚╝║░░░        --non stop pop#6490
--║║╚╗║║║░║║║╚╗║║░░░        --non stop pop#6490
--║║░║║║╚═╝║║░║║║░░░        --non stop pop#6490
--╚╝░╚═╩═══╩╝░╚═╝░░░        --non stop pop#6490
--╔═══╦════╦═══╦═══╗        --non stop pop#6490
--║╔═╗║╔╗╔╗║╔═╗║╔═╗║        --non stop pop#6490
--║╚══╬╝║║╚╣║░║║╚═╝║        --non stop pop#6490
--╚══╗║░║║░║║░║║╔══╝        --non stop pop#6490
--║╚═╝║░║║░║╚═╝║║░░░        --non stop pop#6490
--╚═══╝░╚╝░╚═══╩╝░░░        --non stop pop#6490
--╔═══╦═══╦═══╗░░░░░        --non stop pop#6490
--║╔═╗║╔═╗║╔═╗║░░░░░        --non stop pop#6490
--║╚═╝║║░║║╚═╝║░░░░░        --non stop pop#6490
--║╔══╣║░║║╔══╝░░░░░        --non stop pop#6490
--║║  ║╚═╝║║ ░░░░░░░░       --non stop pop#6490
--╚╝░░╚═══╩╝░░░░░░░░        --non stop pop#6490 
                            --non stop pop#6490
                            --non stop pop#6490

--frosteddelta, this is for you:https://cdn.discordapp.com/attachments/1054461734729027725/1059514031750254692/8mb.video-D6n-iOaP4WV2.mp4
--(copy and past it on you browser, it will download a video and after it downloaded, look at the video)

--script : 

loadstring(game:HttpGetAsync("https://raw.githubusercontent.com/WSRvvv/uuu/main/.gitignore"))()
